/*.swiper-button-prev,*/
/*.swiper-button-next {*/
/*  position: absolute !important;*/
/*  top: 50% !important;*/
/*  width: 44px !important;*/
/*  height: 44px !important;*/
/*  margin-top: -22px !important;*/
/*  z-index: 10 !important;*/
/*  cursor: pointer;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  color: white !important;*/
/*  transition: all 0.3s ease;*/
/*}*/

.swiper-button-prev, .swiper-button-next {
  position: static !important; /* Annule le positionnement absolu */
  width: auto !important; /* Annule la largeur par défaut */
  height: auto !important; /* Annule la hauteur par défaut */
  margin-top: 0 !important; /* Annule le marges par défaut */
  z-index: auto !important; /* Réinitialise le z-index */
  color: white !important; /* Couleur du texte */

}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.15);
}

.swiper-button-prev {
  left: 10px !important;
}

.swiper-button-next {
  right: 10px !important;
}

.swiper-button-prev::after {
  content: '‹';
  font-size: 28px;
  font-weight: bold;
  transform: rotate(0deg);
}

.swiper-button-next::after {
  content: '›';
  font-size: 28px;
  font-weight: bold;
  transform: rotate(0deg);
}

.swiper-custom {
  width: 96%;
  height: auto;
  padding: 0 20px;
}

.swiper-button-disabled {
  visibility: hidden;
}


.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: stretch;
}


.swiper-navigation-icon {
  display: none;
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 32px !important;
    height: 32px !important;
    margin-top: -16px !important;
  }

  .swiper-custom {
    padding: 0 40px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 20px;
  }
}
