<div class="flex flex-row items-center justify-center">
  <button class="swiper-button-prev-{{id()}} hover:cursor-pointer">
    <i class="pi pi-angle-left"></i>
  </button>
  <swiper-container
    [id]="'swiper-' + id()"
    breakpoints='{
      "0":    { "slidesPerView": 2, "slidesPerGroup": 5, "spaceBetween": 10 },
      "480":  { "slidesPerView": 2, "slidesPerGroup": 5, "spaceBetween": 15 },
      "768":  { "slidesPerView": 4, "slidesPerGroup": 5, "spaceBetween": 15 },
      "1024": { "slidesPerView": 6, "slidesPerGroup": 5, "spaceBetween": 20 },
      "1280": { "slidesPerView": 9, "slidesPerGroup": 5, "spaceBetween": 30 }
    }'
    class="swiper-custom"
    init="false"
    loop="false"
    modules="modules"
    slides-per-group="5"
    slides-per-view="9"
    space-between="15">
    @for (book of books(); track book.id) {
      <swiper-slide>
        <div class=" bg-third h-full block">
          <div class="sm:h-40 h-20 transform transition-transform duration-300 ease-in-out hover:scale-105">
            @if (book.coverUrl != null) {
              <div class="group h-full overflow-hidden flex items-center justify-center">
                <img
                  loading="lazy"
                  src="{{book.coverUrl}}"
                  class="w-full h-full object-cover">
                <div class="hidden group-hover:flex hover:cursor-pointer absolute inset-0 items-center justify-center bg-primary-opacity">
                  <p class="md:text-sm text-xs bg-primary p-2 rounded break-words whitespace-normal text-center max-w-[90%]">
                    {{ book.title }} </p>
                </div>
              </div>
            } @else {
              <div class="group overflow-hidden flex items-center justify-center">
                <div class="flex hover:cursor-pointer absolute inset-0 items-center justify-center bg-primary-opacity">
                  <p class="md:text-sm text-xs p-2 rounded break-words whitespace-normal text-center max-w-[90%]">
                    {{ book.title }} </p>
                </div>
              </div>
            }
          </div>
        </div>
      </swiper-slide>
    }
  </swiper-container>
  <button class=" swiper-button-next-{{id()}} hover:cursor-pointer">
    <i class="pi pi-angle-right"></i>
  </button>
</div>
