@if (isCreating) {
  <app-form-create-book (closeModal)="onCloseBookForm()"></app-form-create-book>
}

<div class="flex flex-col h-full">
  <div class="sm:flex sm:items-center sm:justify-between sm:p-5 sm:border-b-2 sm:border-secondary hidden">
    <button
      (click)="openBookForm()"
      class="text-xs md:text-sm bg-third px-3 py-2 hover:cursor-pointer hover:bg-secondary transition">
      Nouveau livre
    </button>
    <p-iconfield>
      <p-inputicon class="pi text-secondary pi-search"/>
      <input
        (ngModelChange)="onSearching($event)"
        [ngModel]="searchValue"
        class="border-none text-white placeholder-secondary bg-third"
        pInputText
        placeholder="Search"
        type="text"/>
    </p-iconfield>
  </div>
  @if (!isFilterMode()) {
    <div class="flex-1 overflow-y-auto px-5 pt-10 border-secondary view-container">
      @for (carousel of carousels(); track carousel.letter) {
        <div class="flex flex-col mb-10">
          <p class="text-2xl mb-2">{{ carousel.letter }}</p>
          <app-swiper
            [books]="carousel.books"
            [id]="carousel.letter"></app-swiper>
        </div>
      }
    </div>
  } @else {
    <div class="flex-1 overflow-y-auto view-container relative">
      @if (bookService.loading()) {
      }

      <div
        class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-10 3xl:grid-cols-12 4xl:grid-cols-16 gap-4 p-5"
        [class.opacity-50]="bookService.loading()">
        @for (book of filteredBooks(); track book.id) {
          <app-little-book-card [book]="book"></app-little-book-card>
        }
      </div>

      @if (filteredBooks().length === 0 && !bookService.loading()) {
        <div class="flex items-center justify-center">
          <p class="text-secondary text-lg">Aucun livre trouvé</p>
        </div>
      }
    </div>
  }
</div>
