@import "tailwindcss";
@import 'primeicons/primeicons.css';

@layer tailwind, primeng;

@layer tailwind {
  :root {
    --p-primary-color: var(--color-primary);
    --p-primary-hover-color: var(--color-secondary);
    --p-stepper-separator-active-background: white;
    --p-stepper-separator-background: var(--color-secondary);
    --p-stepper-steppanel-background: var(--color-primary);
    --swiper-navigation-color: white;
    --p-tooltip-background: var(--color-third);
    --p-multiselect-background: var(--color-third);
    --p-checkbox-background: var(--color-third);
    --p-checkbox-checked-background: var(--color-secondary);
  }

  @theme
  {
    --color-primary: oklch(0 0 0);
    --color-primary-opacity: rgba(0, 0, 0, 0.3);
    --color-secondary: #737373;
    --color-third: #2E2F2B;
    --color-error: #dc3545;
    --color-white: oklch(1 0 0);
  }

  .p-toast {
    z-index: 9999 !important;
  }

  .p-steppanel .p-stepper-separator {
    @apply hidden;
  }

  .p-multiselect-overlay {
    @apply bg-third text-white items-center;
  }

  .p-multiselect-label-container {
    @apply outline-none border-none text-white;
  }

  .p-multiselect-label {
    @apply text-secondary;
  }

  .p-multiselect-dropdown {
    @apply text-secondary;
  }

  .p-multiselect-filter {
    @apply bg-third border-secondary outline-none text-white;

  }

  .p-multiselect-filter-container {
    @apply text-white;

  }

  .p-checkbox-box {
    @apply border-secondary outline-none
  }

  .p-multiselect-option {
    @apply bg-third text-white border-secondary border-b-1;
  }


  .overlay {
    @apply fixed top-0 left-0 w-screen h-screen bg-primary/60 flex justify-center items-center z-[2];
  }

  .p-inputnumber-input {
    @apply bg-third  border-none text-white  outline-secondary
  }

  .modal {
    @apply bg-primary border-secondary border-2 p-5 max-w-screen overflow-hidden max-h-screen ;
  }

  .p-step-title {
    @apply text-secondary;
  }

  .p-step-number {
    @apply text-secondary bg-transparent border-none;
  }


  .p-step-active .p-step-number {
    @apply text-white bg-third
  }

  .p-step-active .p-step-title {
    @apply text-white border-b-white border-b-1
  }

  body {
    @apply text-white bg-primary w-screen h-screen m-0 p-0;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary) var(--color-primary);
  }
}





