<div
  (click)="goToBookDetail()"
  class="bg-third select-none hover:bg-secondary transition-colors border-third border-2 overflow-hidden cursor-pointer h-full flex flex-col">
  <!-- Container avec hauteur fixe -->
  <div class="w-full h-48">  <!-- ou h-40, h-52 selon votre préférence -->
    @if (book().coverUrl !== null) {
      <img
        [src]="book().coverUrl"
        [alt]="book().title"
        loading="lazy"
        class="w-full h-full object-cover">  <!-- object-cover pour remplir l'espace -->
    } @else {
      <div class="w-full h-full bg-third text-center text-secondary flex items-center justify-center flex-col gap-2">
        <i class="pi pi-image text-xl"></i>
        <p class="text-xs">Couverture</p>
      </div>
    }
  </div>
  <div
    class="p-2 h-10 overflow-hidden flex items-center"
    pTooltip="{{book().title}}"
    showDelay="500"
    tooltipPosition="bottom">
    <p class="text-white text-xs leading-tight break-words w-full truncate">
      {{ book().title }} </p>
  </div>
</div>
