/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "preline/variants.css";

@source "./node_modules/preline/dist/*.js";
@plugin "tailwindcss-primeui";


@theme
{
  --color-primary: oklch(0 0 0);
  --color-primary-opacity: rgba(0,0,0,0.3);
  --color-secondary: #737373;
  --color-third: #2E2F2B;
  --color-white: oklch(1 0 0);
}

body
{
  background-color: var(--color-primary);
}

html, body {

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

@layer
{
  body
  {
    @apply text-white;
  }
}


