/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme
{
  --color-primary: oklch(0 0 0);
  --color-secondary: #737373;
  --color-third: #2E2F2B;
  --color-white: oklch(1 0 0);
}

.border-interface
{
  @apply border-b-3
}

body
{
  background-color: var(--color-primary);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
